.alert {
    padding: 20px;
    background-color: #FFF3CD; 
    color: #856404;
    margin-bottom: 15px;
    border-radius: 20px;
  }

  .alert-danger {
    padding: 20px;
    background-color: #F8D7DA; 
    color: #721C24;
    margin-bottom: 15px;
    border-radius: 20px;
  }
  